<?xml version="1.0" encoding="utf-8" ?> 
<urls>
  <rewrite name="index"
        path="/index.aspx"
        pattern = "/index.aspx$"
        page="/index.aspx"
        querystring="" />

  <rewrite name="article"
        path="/article.aspx"
        pattern = "/article.aspx$"
        page="/article.aspx"
        querystring="" />
  <rewrite name="article_list1"
        path="/article/{0}.aspx"
        pattern = "/article/(\d+)*.aspx$"
        page="/article.aspx"
        querystring="classId=$1" />
  <rewrite name="article_list2"
        path="/article/{0}/{1}.aspx"
        pattern = "/article/(\d+)*/(\w+).aspx$"
        page="/article.aspx"
        querystring="classId=$1^page=$2" />
  <rewrite name="article_show"
        path="/article/show/{0}.aspx"
        pattern = "/article/show/(\d+).aspx$"
        page="/article_show.aspx"
        querystring="id=$1" />
  <rewrite name="societies"
        path="/societies.aspx"
        pattern = "/societies.aspx$"
        page="/societies.aspx"
        querystring="" />
  <rewrite name="societies_list1"
        path="/societies/{0}.aspx"
        pattern = "/societies/(\d+)*.aspx$"
        page="/societies.aspx"
        querystring="classId=$1" />
  <rewrite name="societies_list2"
        path="/societies/{0}/{1}.aspx"
        pattern = "/societies/(\d+)*/(\w+).aspx$"
        page="/societies.aspx"
        querystring="classId=$1^page=$2" />
  <rewrite name="societies_show"
        path="/societies/show/{0}.aspx"
        pattern = "/societies/show/(\d+).aspx$"
        page="/societies_show.aspx"
        querystring="id=$1" />

  <rewrite name="register"
        path="/register.aspx"
        pattern = "/register.aspx$"
        page="/register.aspx"
        querystring="" />
  <rewrite name="login"
        path="/login.aspx"
        pattern = "/login.aspx$"
        page="/login.aspx"
        querystring="" />

  <rewrite name="feedback"
        path="/feedback.aspx"
        pattern = "/feedback.aspx$"
        page="/feedback.aspx"
        querystring="" />
  <rewrite name="feedback_list1"
        path="/feedback/{0}.aspx"
        pattern = "/feedback/(\w+).aspx$"
        page="/feedback.aspx"
        querystring="page=$1" />
</urls>