<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>DtCms网站内容管理系统</WebName>
  <WebUrl>http://www.it134.cn</WebUrl>
  <WebTel>13695245546</WebTel>
  <WebFax>0757-22687058</WebFax>
  <WebEmail>admin@it134.cn</WebEmail>
  <WebCrod>粤ICP备000000号</WebCrod>
  <WebKeywords>动力启航,DTCMS系统,ASP.NET开源,开源CMS,网站管理系统,互联网开发</WebKeywords>
  <WebDescription>动力启航（www.it134.cn）是一个以ASP.NET(C#)+jQuery技术为中心，面向软件开发者、程序爱好者、网页设计师，服务于个人、企业的网站，同时也是一个专门结合AJAX技术开发友好界面、倍受欢迎用户体验的BS模式软件系统，打造自己的品牌。</WebDescription>
  <WebCopyright>Copyright Right © 2010-2011 it134.cn Powered By DtCms Inc</WebCopyright>
  <WebPath>/</WebPath>
  <WebManagePath>Admin</WebManagePath>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|TXT</WebFileType>
  <WebFileSize>10240</WebFileSize>
  <WebLogStatus>0</WebLogStatus>
  <WebKillKeywords>and|exec|insert|select|delete|update|chr|mid|master|or|truncate|char|declare|join|cmd</WebKillKeywords>
  <IsUrlRewrite>1</IsUrlRewrite>
  <IsCheckFeedback>0</IsCheckFeedback>
  <IsCheckComment>0</IsCheckComment>
  <ArticlePageNum>15</ArticlePageNum>
  <PicturePageNum>14</PicturePageNum>
  <DownPageNum>15</DownPageNum>
  <ContentPageNum>15</ContentPageNum>
  <FeedbackPageNum>15</FeedbackPageNum>
  <LinkPageNum>15</LinkPageNum>
  <CommentPageNum>10</CommentPageNum>
  <AdPageNum>15</AdPageNum>
  <LogPageNum>15</LogPageNum>
  <ManagePageNum>15</ManagePageNum>
  <ArticlePageNum_Client>10</ArticlePageNum_Client>
  <PicturePageNum_Client>20</PicturePageNum_Client>
  <DownPageNum_Client>20</DownPageNum_Client>
  <FeedbackPageNum_Client>20</FeedbackPageNum_Client>
  <CommentPageNum_Client>10</CommentPageNum_Client>
  <IsThumbnail>1</IsThumbnail>
  <ProWidth>196</ProWidth>
  <ProHight>196</ProHight>
  <IsWatermark>2</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>5</ImgWaterTransparency>
  <WaterText>www.it134.cn</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
  <TemplateSkin>default</TemplateSkin>
</WebSet>